<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">
</head>
<body>
    <main>
        <form method="POST" action="/jogos">

        <input type="text" id="texto" name="atleta1" placeholder="Digite o nome do primeiro atleta.">
<br>
        <input type="text" id="texto" name="atleta2" placeholder="Digite o nome do segundo atleta.">
<br>
        <input type="text" id="texto" name="atleta3" placeholder="Digite o nome do terceiro atleta.">
<br>
        <input type="text" id="texto" name="atleta4" placeholder="Digite o nome do quarto atleta.">
<br>
        <input type="text" id="texto" name="atleta5" placeholder="Digite o nome do quinto atleta.">
<br>
        <input type="text" id="texto" name="atleta6" placeholder="Digite o nome do sexto atleta.">
<br>
        <input type="text" id="texto" name="atleta7" placeholder="Digite o nome do setimo atleta.">
<br>
        <input type="text" id="texto" name="atleta8" placeholder="Digite o nome do oitavo atleta.">
<br>
        <button type="submit">Enviar</button>
    </form>
    </main>
</body>
</html>