<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/973a8ca623.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/reqplayers.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container-elementosheader">
            <div class="container-textosheader">
                <a href="">Home</a>
                <a href="">Apoie</a>
                <a href="">Sobre</a>
                <a href="">Contato</a>
            </div>
            <div class="container-icone"><i class="fa-solid fa-code"></i></div>
        </div>
    </header>
    <main>

        <div class="container-main-centro">
            <div class="container-h1">
                <i class="fa-regular fa-trophy"></i>
                <h1>SUPER 8 </h1>
            </div>
            <code>Insira o nome dos 8 jogares</code>
            <form action="/sup8" method="post">
                <div class="container-jogadores">
                    <div class="container-jogadores1">
                        <div class="container-input">
                            <div class="span">
                                <span>1</span>
                            </div>
                            <input type="text" name="jogador1" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                        <div class="container-input">
                            <div class="span">
                                <span>2</span>
                            </div>
                            <input type="text" name="jogador2" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                        <div class="container-input">
                            <div class="span">
                                <span>3</span>
                            </div>
                            <input type="text" name="jogador3" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                        <div class="container-input">
                            <div class="span">
                                <span>4</span>
                            </div>
                            <input type="text" name="jogador4" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                    </div>
                    <hr>
                    <div class="container-jogadores2">
                        <div class="container-input">
                            <div class="span">
                                <span>5</span>
                            </div>
                            <input type="text" name="jogador5" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                        <div class="container-input">
                            <div class="span">
                                <span>6</span>
                            </div>
                            <input type="text" name="jogador6" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                        <div class="container-input">
                            <div class="span">
                                <span>7</span>
                            </div>
                            <input type="text" name="jogador7" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                        <div class="container-input">
                            <div class="span">
                                <span>8</span>
                            </div>
                            <input type="text" name="jogador8" id="jogadores" placeholder="Nome do participante" required>
                        </div>
                    </div>
                </div>
                <div class="container-form">
                    <i class="fa-regular fa-crosshairs"></i>
                    <button type="submit">GERAR JOGOS</button>
                </div>
            </form>
        </div>

    </main>
</body>

</html>














<!-- FUNCIONANDO
 DE FORMA BASICA AQUI EM BAIXO -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisitar Jogadores</title>
</head>
<body>
    <h1>Digite o nome dos Jogadores</h1>
    <form action="/sup8" method="post">
        <input type="text" name="jogador0" id="jogares">
        <input type="text" name="jogador1" id="jogares">
        <input type="text" name="jogador2" id="jogares">
        <input type="text" name="jogador3" id="jogares">
        <input type="text" name="jogador4" id="jogares">
        <input type="text" name="jogador5" id="jogares">
        <input type="text" name="jogador6" id="jogares">
        <input type="text" name="jogador7" id="jogares">
        <button type="submit">Enviar!</button>
    </form>
</body>
</html> -->