<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisitar Jogadores</title>
</head>
<body>
    <h1>Digite o nome dos Jogadores</h1>
    <form action="/sup8" method="post">
        <input type="text" name="jogador0" id="jogares">
        <input type="text" name="jogador1" id="jogares">
        <input type="text" name="jogador2" id="jogares">
        <input type="text" name="jogador3" id="jogares">
        <input type="text" name="jogador4" id="jogares">
        <input type="text" name="jogador5" id="jogares">
        <input type="text" name="jogador6" id="jogares">
        <input type="text" name="jogador7" id="jogares">
        <button type="submit">Enviar!</button>
    </form>
</body>
</html>