<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Obrigado</h1>

    <div class="container-jogos">
        <span>{{ player[0][0] }} & {{ player[7][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[6][0] }} & {{ player[4][0] }}</span>
        <hr>
        <span>{{ player[3][0] }} & {{ player[1][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[2][0] }} & {{ player[5][0] }}</span>
        <hr>
        <span>{{ player[0][0] }} & {{ player[6][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[1][0] }} & {{ player[2][0] }}</span>
        <hr>
        <span>{{ player[7][0] }} & {{ player[4][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[3][0] }} & {{ player[5][0] }}</span>
        <hr>
        <span>{{ player[0][0] }} & {{ player[2][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[7][0] }} & {{ player[5][0] }}</span>
        <hr>
        <span>{{ player[6][0] }} & {{ player[1][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[4][0] }} & {{ player[3][0] }}</span>
        <hr>
        <span>{{ player[0][0] }} & {{ player[4][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[3][0] }} & {{ player[2][0] }}</span>
        <hr>
        <span>{{ player[7][0] }} & {{ player[6][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[1][0] }} & {{ player[5][0] }}</span>
        <hr>
        <span>{{ player[0][0] }} & {{ player[1][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[7][0] }} & {{ player[3][0] }}</span>
        <hr>
        <span>{{ player[6][0] }} & {{ player[2][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[4][0] }} & {{ player[5][0] }}</span>
        <hr>
        <span>{{ player[0][0] }} & {{ player[3][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[6][0] }} & {{ player[5][0] }}</span>
        <hr>
        <span>{{ player[7][0] }} & {{ player[1][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[4][0] }} & {{ player[2][0] }}</span>
        <hr>
        <span>{{ player[7][0] }} & {{ player[2][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[6][0] }} & {{ player[3][0] }}</span>
        <hr>
        <span>{{ player[0][0] }} & {{ player[5][0] }}</span>
        <input type="number">
        <span>xXx</span>
        <input type="number">
        <span>{{ player[4][0] }} & {{ player[1][0] }}</span>
        <hr>
    </div>

    <form action="/encerrar">
        <button type="submit" method="get">Resetar</button>
    </form>
    <form action="">
        <button type="submit"></button>
    </form>


</body>
</html>